<!--<a href="kclink://action/?addfriend=123414213421" style="font-size: 30px; text-decoration: none">Click here to add Vitaly Bybbax</a>-->

<head>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/styleextra.css">
</head>

<!--<div class="col-md-4 text-center"> 
  	
</div>-->


      <div class="form-group">
         <label class="col-md-4 control-label" for="singlebutton"></label>
         <div class="col-md-4 center-block align-middle">
            <!--<button id="singlebutton" name="singlebutton" class="btn btn-primary center-block">
                Next Step!
             </button>-->
		<a  href="kclink://action/?addfriend=123414213421" type="button" class="btn btn-primary btn-xl center-block">Add friend Bybbax</a>
         </div>  
      </div>
